---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Pipeline from '../components/Pipeline.astro';
import Tracks from '../components/Tracks.astro';
import UseCases from '../components/UseCases.astro';
import Compatibility from '../components/Compatibility.astro';
import Problem from '../components/Problem.astro';
import WhySim from '../components/WhySim.astro';
import Pricing from '../components/Pricing.astro';
import Mission from '../components/Mission.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <main>
    <Hero />
    <Pipeline />
    <Tracks />
    <Problem />
    <UseCases />
    <Compatibility />
    <WhySim />
    <Pricing />
    <Mission />
  </main>
  <Footer />
</Layout>
